
{%extends 'base.html'%}

{% block content %}

<div class="project">
    <h1>About the project</h1>
    <p>This project is made based on the idea of converting an image showing the scene of summer to the same image but
    showing the scene in the winter and the opposite by applying a model trained in which we learned how to apply from
    the Machine Learning Couse 2019 - 2020</p>
</div>

<div class="members">
    <h1>About the members</h1>
    <div id="Minh">
        <p>
            Fullname: Nguyen Dinh Minh <br>
            Student ID: 17021297 <br>
            Class: K62-CA-CLC3 <br>
            Task: Training models, deploying the models to the webpage <br>
        </p>
    </div>
    <div id="Atn">
        <p>
            Fullname: Nguyen Tuan Anh <br>
            Student ID: 17021207 <br>
            Class: K62-CA-CLC2 <br>
            Task: Creating the webpage <br>
        </p>
    </div>
</div>


{% endblock %}